
 .album-img {
  width: 130px; /* Ajusta el ancho deseado */
  height: 130px; /* Ajusta la altura deseada */
  margin: 10px; /* Ajusta el valor según el espacio deseado */
  object-fit: cover; /* Ajusta la imagen para que se recorte correctamente dentro del contenedor */
}

